body {
  background-color: #1A4A36;
}

/* **Estilos barra de navegación** */

.navbar {
  background-color: #F4FFF8;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  transition: border-radius 0.3s ease;
  padding-left: 1rem;
}

/* Div logo */
.navbar-brand {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Logo (falta añadir) */
.navbar-brand img {
  max-height: 40px;
  height: auto;
  width: auto;
  max-width: 100%;
}


.btn.btn-outline-success {
  margin-right: 10px;
}


/* Borde redondeado, radio responsivo dependiendo tamaño */
@media (max-width: 768px) {
  .navbar {
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
  }
}

@media (max-width: 480px) {
  .navbar {
    border-bottom-left-radius: 6vw;
    border-bottom-right-radius: 6vw;
  }
}

/* **Estilo para tarjeta**  */

.carousel-item {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.carousel-item.active {
  opacity: 1;
  position: relative;
  transition: opacity 1s ease-in-out;
}

.card {
  width: 18rem;margin-top: 150px;margin-left: auto;margin-right: auto;margin-bottom: 0px;
  background-color: #677D6A;
  border: none;
  text-align: center;
}

.card-title {
  color: #D6BD98;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.card-text {
  color: #232E26;
  font-family: 'Lato', sans-serif;
}

.carousel-inner {
  position: relative;
  min-height: 300px; /* para que el fade no colapse el contenedor */
}

.btn.btn-primary {
  color: #232E26;
  background-color: #D9EFDE;
  font-family: 'Quicksand', sans-serif;
  border-color: #232E26;
} 

.custom-svg-button svg text {
  fill: #198754; /* verde normal */
}

.custom-svg-button:hover svg text {
  fill: white; /* texto blanco al hacer hover */
}

.buttons-navbar button{
  border-radius: 20px;
}

.btn.btn-success{
  background-color: #232E26;
  color: #D9EFDE;
}